nav {
    background-color: whitesmoke;
    margin-bottom: 50px;
    display: flex; /* Включаем flexbox */
    align-items: center; /* Центрируем всё по вертикали */
    justify-content: space-between; /* Расталкиваем блоки влево, центр и вправо */
    padding: 0 10px;
}

/* Общие стили для всех кнопок в nav */
.box-link,
.right_nav_btn {
    display: inline-block;
    background-color: darkgreen;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
}

.box-link:hover,
.right_nav_btn:hover {
    background-color: #004d00;
}

/* Контейнеры для выравнивания */
.nav-left,
.nav-right {
    flex: 1; /* Занимают равное пространство, чтобы центр был реально в центре */
    display: flex;
    gap: 5px;
}

.nav-right {
    justify-content: flex-end; /* Кнопки справа прижимаем к правому краю */
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-gif {
    height: 40px;
    display: block;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    text-decoration: none;
    color: #333;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
    margin-bottom: 0; /* Убираем лишний отступ снизу */
}

.media {
    display: flex; /* Включает выравнивание в ряд */
    align-items: center; /* Центрирует текст по вертикали относительно картинки */
    margin-bottom: 20px;
}

/* Стили для заголовка с именем */
.account-heading {
    font-size: 2.5rem;
    margin-bottom: 0; /* Убираем лишний отступ снизу */
}

/* Стили для почты */
.text-secondary {
    margin-top: 0; /* Убираем лишний отступ сверху */
}
