{% extends "base.html" %} {% block content %}
<article class="content-section">
    <div class="media single-post-header">
        <img
            class="article-img"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
        />
        <div class="article-metadata">
            <a
                href="{{ url_for('users.user_post', username=post.author.username) }}"
                >{{ post.author.username }}</a
            >
            <span class="date"
                >— {{ post.date_posted.strftime('%d %b %Y') }}</span
            >

            {% if post.author == current_user %}
            <div class="post-controls">
                <a
                    class="control-link"
                    href="{{ url_for('posts.update_post', post_id=post.id) }}"
                    >Edit</a
                >
                <button
                    type="button"
                    class="control-link delete-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                >
                    Delete
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <h1 class="post-title-main">{{ post.title }}</h1>
    <div class="article-content">{{ post.content | markdown | safe }}</div>
</article>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content indie-modal">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                This action cannot be undone. Are you sure?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="box-link"
                    style="background: #ccc; border-color: #ccc; color: #000"
                    data-bs-dismiss="modal"
                >
                    Cancel
                </button>
                <form
                    action="{{ url_for('posts.delete_post', post_id=post.id) }}"
                    method="POST"
                >
                    <input
                        class="box-link"
                        style="
                            background: var(--accent-color);
                            border-color: var(--accent-color);
                        "
                        type="submit"
                        value="Delete Forever"
                    />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
