{% extends "base.html" %} {% block content %}

<div class="user-header">
    <h1 class="account-heading">Posts by {{ user.username }}</h1>
    <p class="text-secondary">Found {{ posts.total }} entries</p>
</div>

{% for post in posts %}
<article class="content-section">
    <div class="media">
        <img
            class="article-img"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
        />
        <div class="article-metadata">
            <span class="date"
                >{{ post.date_posted.strftime('%d %b %Y') }}</span
            >
        </div>
    </div>
    <h2>
        <a
            class="article-title"
            href="{{ url_for('posts.post', post_id=post.id) }}"
            >{{ post.title }}</a
        >
    </h2>
    <div class="article-body">
        <div
            class="article-content collapsible-text"
            id="post-content-{{ post.id }}"
        >
            {{ post.content | markdown | safe }}
        </div>
        <a
            href="javascript:void(0);"
            onclick="toggleText('{{ post.id }}')"
            id="toggle-btn-{{ post.id }}"
            class="see-more-link"
            >Read More →</a
        >
    </div>
</article>
{% endfor %}

<div class="pagination-container">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if posts.page ==
    page_num %}
    <span class="page-number current">{{ page_num }}</span>
    {% else %}
    <a
        class="page-number"
        href="{{ url_for('users.user_post', username=user.username, page=page_num) }}"
        >{{ page_num }}</a
    >
    {% endif %} {% endif %} {% endfor %}
</div>
{% endblock content %}
